<div class="container">
  <div class="back" (click)="back()">
    <mat-icon class="back__icon">arrow_back</mat-icon>
    <span class="back__span">Вернуться</span>
  </div>
  <div class="title">
    <span>{{ publication?.title }}</span>
  </div>
  <div class="card">
    <div class="card__info">
      <span class="card__info__key">Журнал</span>
      <span class="card__info__value">{{ publication?.journal || '-' }}</span>
    </div>
    <div class="card__info">
      <span class="card__info__key">Кол-во страниц</span>
      <span class="card__info__value">{{ publication?.pages || '-' }}</span>
    </div>
    <div class="card__info">
      <span class="card__info__key">Год издания</span>
      <span class="card__info__value">{{ publication?.year || '-' }}</span>
    </div>
    <div class="card__info">
      <span class="card__info__key">Издатель</span>
      <span class="card__info__value">{{ publication?.publisher || '-' }}</span>
    </div>
    <div class="card__info">
      <span class="card__info__key">Авторы</span>
      <span class="card__info__value">{{ publication?.authors || '-' }}</span>
    </div>
    <div class="card__info">
      <span class="card__info__key">Теги</span>
      <span class="card__info__value">{{ publication?.tags || '-' }}</span>
    </div>
  </div>

</div>
