.filter {
  position: absolute;
  width: 393px;
  height: calc(100% - 2px); // 2px - border-top and border-bottom
  background: #FFFFFF;
  border: 1px solid #A5A5A5;
  right: 0;

  .filter__title {
    margin-top: 52px;
    margin-left: 32px;
    position: absolute;
    font: 24px Roboto;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
  }

  .filter__form {
    margin: 119px 32px;
    height: calc(100% - 238px);
    width: calc(100% - 64px);
    position: absolute;

    .filter__form__field {
      width: 100%;

      .filter__form__field__label {
        font: 16px Roboto;
        font-style: normal;
        font-weight: 400;
        line-height: 16px;
        color: #00000066;
      }
    }

    .filter__form__radio {
      margin-top: 120px;
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      flex-wrap: wrap;

      .filter__form__title__publisher {
        font: 14px Roboto;
        font-style: normal;
        font-weight: 700;
        line-height: 19px;
        width: 100%;
      }

      .filter__form__radio__group {
        margin-top: 21px;
        display: flex;
        flex-direction: column;

        .filter__form__radio__group__button {
          margin-bottom: 17px;
          font: 16px Roboto;
          font-style: normal;
          font-weight: 400;
          line-height: 19px;
        }
      }
    }

  }
}

::ng-deep .mat-select-arrow-wrapper {
  display: none !important;
}

::ng-deep .mat-select-panel {
  position: absolute;
  top: 35px;
  right: -40px;
  min-width: 100% !important;
}

::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle, .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple), .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple, .mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
  background: #2962FF;
}

::ng-deep .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: #2962FF;
}

::ng-deep .mat-primary .mat-pseudo-checkbox-checked, .mat-primary .mat-pseudo-checkbox-indeterminate {
  background: #2962FF;
}

::ng-deep .mat-option-text {
  font: 16px Roboto;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
}

::ng-deep .mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
  color: black;
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-ripple {
  background-color: #347CFF !important;
}

::ng-deep .mat-input-element::placeholder .mat-select-placeholder {
  font: 16px Roboto;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
}
